<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @await Component.InvokeAsync("Fav")
    <title>@ViewData["Title"]</title>
    <partial name="_Css" />
    <link rel="stylesheet" href="/css/select2.min.css" asp-append-version="true" />
</head>
@{
    var SuccessLogin = TempData["SuccessLogin"] != null;
    var ok = TempData["ok"] != null;
    var faild = TempData["faild"] != null;
    var FaildCreateWallet = TempData["FaildCreateWallet"] != null;
}
<body class="index-page sidebar-collapse">

    <div class="loading">
        <img src="/Images/loading.svg" alt="loading..." />
    </div>
    <partial name="_HeaderResponsive" />
    <div class="wrapper default">
        <partial name="_Header" />
        <main class="profile-user-page default">
            <div class="container">
                <div class="row">
                    <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                        @RenderBody()
                    </div>
                    @await Component.InvokeAsync("UserPanelSidebar")
                </div>
            </div>
        </main>
        <partial name="_Footer" /> <div class="modal-share modal-width-custom modal fade" id="myModalCreateTransaction" tabindex="-1"
                                        role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel"> شارژ کیف پول</h4>
                    </div>
                    <div class="modal-body">
                        <form id="form-transaction" asp-area="UserPanel" asp-controller="Wallet" asp-action="CreateTransaction"
                              method="post" class="form-account">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-account-title">مبلغ (تومان)</div>
                                    <div class="form-account-row">
                                        <input class="input-field text-right" name="price" id="price" value="1000"
                                               type="number">
                                    </div>
                                    <span class="text-danger" id="price-validation"></span>
                                </div>
                                <div class="col-12">
                                    <div class="form-account-title">انتخاب درگاه بانکی</div>
                                    <div class="form-account-row">
                                        <select class="input-field" type="text" name="portal" id="portal" style="text-align:right">
                                            <option value="@Shared.Domain.Enum.TransactionPortal.زرین_پال">@Shared.Domain.Enum.TransactionPortal.زرین_پال.ToString().Replace("_", " ")</option>
                                        </select>
                                    </div>
                                    <span class="text-danger" id="portal-validation"></span>
                                </div>
                            </div>
                        </form>
                        <div class="col-12 text-center">
                            <button class="btn btn-success btn-lg" onclick="CreateTransaction()">ذخیره</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="_Js" />
    <script src="/js/select2.min.js"></script>
    <script src="/js/userPanel.js"></script>
    @if (SuccessLogin)
    {
        <script>
            AlertSweet("عملیات موفق", "شما با موفقیت وارد سایت شدید .", "success");
        </script>
    }
    @if (ok)
    {
        <script>
            AlertSweetTimer("عملیا ت با موفقیت انجام شد", "success", 4000);
        </script>
    }
    @if (faild)
    {
        <script>
            AlertSweetTimer("عملیات نا موفق !!!", "error", 4000);
        </script>
    }
    @if (FaildCreateWallet)
    {
        <script>
            AlertSweetTimer("تراکنش ناموفق . لطفا با سایت تماس بگیرید !!!", "error", 4000);
        </script>
    }
    @RenderSection("Scripts", false)
</body>

</html>