@inject IHttpContextAccessor _accessor;
@{
    var route = _accessor.HttpContext.Request.Path;
}
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-right image">
                <img src="/AdminAssets/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-right info">
                <p>علیرضا حسینی زاده</p>
                <a href="#"><i class="fa fa-circle text-success"></i> آنلاین</a>
            </div>
        </div>
        
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">منو</li>
           
            <li class="@(route.ToString().ToLower().Trim() == "/admin" ? "active" : "") treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>داشبرد</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/"><i class="fa fa-circle-o"></i> صفحه اصلی سایت</a></li>
                    <li class=@(route.ToString().ToLower().Trim() == "/admin" ? "active" : "")>
                        <a href="/Admin"><i class="fa fa-circle-o"></i>  صفحه اصلی ادمین</a></li>
                    <li><a href="/UserPanel"><i class="fa fa-circle-o"></i>  پنل کاربری</a></li>
                    
                </ul>
            </li>
            <li class="@(route.ToString().ToLower().Trim().Contains("/admin/role") 
             || route.ToString().ToLower().Trim().Contains("/admin/user") ? "active" : "") treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>مدیریت کاربران</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/role") ? "active" : "")>
                        <a href="/Admin/Role"><i class="fa fa-user-secret"></i>  سطوح دسترسی</a>
                    </li>
                </ul>
            </li>
            <li class="@(route.ToString().ToLower().Trim().Contains("/admin/blog")
              ? "active" : "") treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>مدیریت مقالات</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/blogcategory") ? "active" : "")>
                        <a href="/Admin/BlogCategory/Index/0"><i class="fa fa-user-secret"></i>  دسته بندی مقالات</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/blog/") ? "active" : "")>
                        <a href="/Admin/Blog/Index/0"><i class="fa fa-user-secret"></i>  مدیریت مقالات</a>
                    </li>
                </ul>
            </li>
            <li class="@(route.ToString().ToLower().Trim().Contains("/admin/blog")
              ? "active" : "") treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>مدیریت پست</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/post") ? "active" : "")>
                        <a href="/Admin/Post/Index"><i class="fa fa-user-secret"></i>  مدیریت پست</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/state/") ? "active" : "")>
                        <a href="/Admin/State/Index"><i class="fa fa-user-secret"></i>  مدیریت استان ها</a>
                    </li>
                </ul>
            </li>
            <li class="@(route.ToString().ToLower().Trim().Contains("/admin/post") 
            || route.ToString().ToLower().Trim().Contains("/admin/state")
            || route.ToString().ToLower().Trim().Contains("/admin/city")
              ? "active" : "") treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>مدیریت پست</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/post") ? "active" : "")>
                        <a href="/Admin/Post/Index"><i class="fa fa-user-secret"></i>  مدیریت پست</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/state/") ? "active" : "")>
                        <a href="/Admin/State/Index"><i class="fa fa-user-secret"></i>  مدیریت استان ها</a>
                    </li>
                </ul>
            </li>
            <li class="@(route.ToString().ToLower().Trim().Contains("/admin/emailUser")
            || route.ToString().ToLower().Trim().Contains("/admin/sendemail")
            || route.ToString().ToLower().Trim().Contains("/admin/message")
              ? "active" : "") treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>مدیریت خبرنامه</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/post") ? "active" : "")>
                        <a href="/Admin/EmailUser/Index"><i class="fa fa-user-secret"></i>  ایمیل های خبرنامه</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/state/") ? "active" : "")>
                        <a href="/Admin/SendEmail/Index"><i class="fa fa-user-secret"></i>  ایمیل های ارسالی</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/state/") ? "active" : "")>
                        <a href="/Admin/Message/Index"><i class="fa fa-user-secret"></i>  پیام های ارسالی</a>
                    </li>
                </ul>
            </li>
            <li class="@(route.ToString().ToLower().Trim().Contains("/admin/site")
            || route.ToString().ToLower().Trim().Contains("/admin/baner")
            || route.ToString().ToLower().Trim().Contains("/admin/slider")
            || route.ToString().ToLower().Trim().Contains("/admin/service")
            || route.ToString().ToLower().Trim().Contains("/admin/menu")
              ? "active" : "") treeview">
                <a href="#">
                    <i class="fa fa-user"></i> <span>تنظیمات سایت</span>
                    <span class="pull-left-container">
                        <i class="fa fa-angle-right pull-left"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/site") ? "active" : "")>
                        <a href="/Admin/Site/Index"><i class="fa fa-user-secret"></i> تنظیمات سایت</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/baner/") ? "active" : "")>
                        <a href="/Admin/Baner/Index"><i class="fa fa-user-secret"></i>  مدیریت بنر ها</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/slider/") ? "active" : "")>
                        <a href="/Admin/Slider/Index"><i class="fa fa-user-secret"></i>  مدیریت اسلایدر</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/siteservice/") ? "active" : "")>
                        <a href="/Admin/SiteService/Index"><i class="fa fa-user-secret"></i>  مدیریت خدمات</a>
                    </li>
                    <li class=@(route.ToString().ToLower().Trim().Contains("/admin/menu/") ? "active" : "")>
                        <a href="/Admin/Menu/Index"><i class="fa fa-user-secret"></i>  مدیریت منو</a>
                    </li>
                </ul>
            </li>
            <li class=@(route.ToString().ToLower().Trim().Contains("/admin/image") ? "active" : "")>
                <a href="/Admin/Site/Images"><i class="fa fa-book"></i> <span>عکس های آپلود شده</span></a>
                </li>
            <li class=@(route.ToString().ToLower().Trim().Contains("/admin/sitepage") ? "active" : "")>
                <a href="/Admin/SitePage/Index"><i class="fa fa-book"></i> <span>مدیریت صفحات</span></a>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>