@model Site.Application.Contract.MenuApplication.Query.MenuPageAdminQueryModel
@using Shared.Domain.Enum;
@using Shared.Application;
@{
    ViewData["Title"] = Model.PageTitle;
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                @if(Model.Id > 0)
                {
                    <a class="btn btn-success" asp-action="CreateSub" asp-route-id="@Model.Id">
                    <i class=" fa fa-plus mx-2"></i> زیر منو جدید برای @Model.PageTitle
                </a>
                }
                else
                {
                <a class="btn btn-success" asp-action="Create">
                    <i class=" fa fa-plus mx-2"></i> سردسته منوی جدید 
                </a>
                }
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th> تصویر</th>
                            <th> عنوان</th>
                            <th> نوبت</th>
                            <th> وضعیت</th>
                            <th>تاریخ ثبت</th>
                            <th>فعال</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Menus.Count() > 0)
                        {
                            foreach (var item in Model.Menus)
                            {
                                <tr id="Deleted_@item.Id">
                                    <td>
                                        @if (!string.IsNullOrEmpty(item.ImageName))
                                        {
                                            <img width="100px" src="@FileDirectories.MenuImageDirectory100@item.ImageName" />
                                        }
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Number
                                    </td>
                                    <td>
                                        @item.Status.ToString().Replace("_"," ")
                                    </td>
                                    <td>
                                        @item.CreationDate
                                    </td>
                                    <td>
                                        @{
                                            string title = item.Active ? "غیر فعال شود ؟؟؟" : "فعال شود ؟؟؟";
                                            string text = item.Active ? "بعد از غیر فعال شدن این منو نمایش داده نمیشود ." : "بعد از فعال شدن این منو نمایش داده میشود";
                                            string cancel = item.Active ? "فعال بماند" : "غیر فعال بماند";
                                            string confirm = item.Active ? "غیر فعال شود" : "فعال شود";
                                        }
                                        <div class="checkbox-wrapper-49"
                                             onclick="AjaxSweetNotDelete(
                                 '@title',
                                 '@text',
                                 'question',
                                 '@confirm',
                                  '@cancel',
                                   '/Admin/Menu/Active/@item.Id')">
                                            <div class="block">
                                                <input data-index="pie_@item.Id" id="pie-@item.Id"
                                                @(item.Active ? "checked" : "") type="checkbox" />
                                                <label for="pie-@item.Id"></label>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        @if(item.Status == MenuStatus.منوی_اصلی_با_زیر_منو || item.Status == MenuStatus.زیرمنوی_سردسته || item.Status == MenuStatus.تیتر_منوی_فوتر || item.Status == MenuStatus.منوی_وبلاگ_با_زیرمنوی_بدون_عکس || item.Status == MenuStatus.منوی_وبلاگ_با_زیر_منوی_عکس_دار)
                                        {
                                        <a class="btn btn-info" asp-action="Index" asp-route-id="@item.Id">
                                           زیر منو ها
                                        </a>   
                                        }
                                        <a class="btn btn-warning" title="ویرایش @item.Title" asp-action="Edit" asp-route-id="@item.Id">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                           <th> تصویر</th>
                            <th> عنوان</th>
                            <th> نوبت</th>
                            <th> وضعیت</th>
                            <th>تاریخ ثبت</th>
                            <th>فعال</th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $('#example1').DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true
            })
        })
    </script>
}