@model Query.Contract.Admin.MessageUser.MessageUserDetailAdminQueryModel

@{
    ViewData["Title"] = "جزییات پیام";
}
<div class="row">
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
</div>
        <div class="box-body">
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            کاربر سایت ؟
        </dt>
        <dd>
                        @if (string.IsNullOrEmpty(Model.UseName))
                        {
                            <p>@Model.UseName</p>
                        }
                        else
                        {
                            <p>کاربر سایت نیست</p>
                        }
                    </dd>
        <dt>
           وضعیت
        </dt>
        <dd>
            @Model.Status.ToString().Replace("_"," ")
        </dd>
        <dt>
           نام کامل
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt>
          موضوع پیام
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt>
           شماره تماس
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            ایمیل
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            تاریخ ثبت
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            متن پیام
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
           متن پاسخ در  sms
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AnswerSms)
        </dd>
        <dt>
                        متن پاسخ در  ایمیل
        </dt>
        <dd>
            @Html.Raw(Model.AnswerEmail)
        </dd>
    </dl>
</div>
        </div>
    </div>
</div>
