@model IEnumerable<Query.Contract.OrderDiscount.OrderAdminQueryModel>
@using Shared.Application;
@{
    ViewData["Title"] = "لیست تخفیفات فعال شما";
}
<div class="row">
    <div class="col-lg-12">
        <div class="col-12">
            <h1 class="title-tab-content">@ViewData["Title"].ToString()</h1>
            <a class="btn btn-success" onclick="OpenAjaxModal('/UserPanel/Discount/CreateDiscount','افزودن تخفیف فاکتور جدید')">
                افزودن تخفیف
            </a>
            <a class="btn btn-info" asp-action="InActive">
                تخفیفات غیر فعال
            </a>
        </div>
        <div class="content-section default">
            <div class="table-responsive">
                <table class="table table-order">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">عنوان</th>
                            <th scope="col">کد تخفیف</th>
                            <th scope="col">درصد</th>
                            <th scope="col"> تعداد</th>
                            <th scope="col">استفاده شده</th>
                            <th scope="col">تاریخ شروع</th>
                            <th scope="col">تاریخ پایان</th>
                            <th scope="col">تاریخ ثبت</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Count() > 0)
                        {
                            foreach (var item in Model)
                            {

                                <tr id="tr_@item.Id">
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Code
                                    </td>
                                    <td>@item.Percent %</td>
                                    <td>
                                        @item.Count
                                    </td>
                                    <td>
                                        @item.Use
                                    </td>
                                    <td>
                                        @item.StartDate
                                    </td>
                                    <td>
                                        @item.EndDate
                                    </td>
                                    <td>
                                        @item.CreationDate
                                    </td>
                                    <td>
                                        <a class="btn btn-warning" onclick="OpenAjaxModal('/UserPanel/Discount/EditDiscount/@item.Id','ویرایش تخفیف فاکتور @item.Title')">
                                            ویرایش تخفیف
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="9" class="text-center text-danger">
                                    تخفیفی برای نمایش موجود نیست
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>