@model Query.Contract.UI.Site.ContactUsUiQueryModel
@using Shared.Domain.Enum;
@{
    ViewData["Title"] = Model.Seo.MetaTitle;
    Layout = "~/Views/Shared/_MagLayout.cshtml";
    var FaildMessage = TempData["FaildMessage"] != null;
    var SuccessMessage = TempData["SuccessMessage"] != null;
}
@section SEO{
    <partial name="_seo" model="@Model.Seo"/>
}
<partial name="_MagBreadCrumb" model="@Model.BreadCrumbs" />
<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title">@Model.Seo.MetaTitle</h1>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="entry__article">
                  @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h4>با ما تماس بگیرید</h4>
                <ul class="contact-items">
                    @if (!string.IsNullOrEmpty(Model.Address))
                    {
                        <li class="contact-item">
                            <address>@Model.Address</address>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Phone1))
                    {
                        <li class="contact-item"><a href="tel:@Model.Phone1">@Model.Phone1</a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Phone2))
                    {
                        <li class="contact-item"><a href="tel:@Model.Phone2">@Model.Phone2</a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Email1))
                    {
                        <li class="contact-item"><a href="mailto:@Model.Email1">@Model.Email1</a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.Email2))
                    {
                        <li class="contact-item"><a href="mailto:@Model.Email2">@Model.Email2</a></li>
                    }
                   
                </ul>

                <!-- Contact Form -->
                <form id="contactform" class="contact-form mt-30 mb-30" method="post" action="/Home/SendMessage">
                    <div class="contact-name">
                        <label for="name">نام کامل <abbr title="required" class="required">*</abbr></label>
                        <input name="fullName" id="fullNameContact" type="text">
                        <span class="text-danger" id="fullNameContactValid"></span>
                    </div>
                    <div class="contact-email">
                        <label for="email">ایمیل یا شماره تماس <abbr title="required" class="required">*</abbr></label>
                        <input name="email" id="emailContact" type="email">
                        <span class="text-danger" id="emailContactValid"></span>
                    </div>
                    <div class="contact-subject">
                        <label for="email">موضوع</label>
                        <input name="subject" id="subjectContact" type="text">
                        <span class="text-danger" id="subjectContactValid"></span>
                    </div>
                    <div class="contact-message">
                        <label for="message">متن پیام <abbr title="required" class="required">*</abbr></label>
                        <textarea name="message" id="messageContact" rows="7"></textarea>
                        <span class="text-danger" id="messageContactValid"></span>
                    </div>

                </form>
                <button type="button" class="btn btn-lg btn-color btn-button" onclick="SendContactMessage()">
                    ارسال پیام
            </button>
            </div>
        </div>
    </div> 
</div>
@section Scripts{
    @if (SuccessMessage)
    {
        <script>
            AlertSweetTimer("پیام شما با موفقیت اضافه شد و به زودی به پیام شما پاسخ داده خواهد شد  .", "success", 5000);
        </script>
    }
    @if (FaildMessage)
    {
        <script>
            AlertSweetTimer("عملیات نا موفق !! لطفا اطلاعات را با دقت وارد کنید  و پس از چند دقیقه مجددا تلاش کنید   .", "error", 5000);
        </script>
    }
}