@model Query.Contract.UI.Site.SitePageUiQueryModel
@using Shared.Domain.Enum;
@{
    ViewData["Title"] = Model.Seo.MetaTitle;
    Layout = "~/Views/Shared/_MagLayout.cshtml";
    var SuccessCreateComment = TempData["SuccessCreateComment"] != null;
    var FaildCreateComment = TempData["FaildCreateComment"] != null;
}
@section SEO{
    <partial name="_seo" model="@Model.Seo"/>
}
<partial name="_MagBreadCrumb" model="@Model.BreadCrumbs" />
<div class="main-container container" id="main-container">
    <!-- post content -->
    <div class="blog__content mb-72">
        <h1 class="page-title">@Model.Title</h1>

        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="entry__article">
                  @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
        <div id="respond" class="comment-respond">
            <div class="title-wrap">
                <h5 class="comment-respond__title section-title">دیدگاه شما</h5>
            </div>
            <form id="formComment" class="comment-form" method="post" action="/Comment/Create">
                <input type="hidden" name="ownerId" value="@Model.Id" />
                <input type="hidden" name="commentFor" value="@CommentFor.صفحه" />
                <input type="hidden" id="parentIdComment" name="parentId" />
                <p class="comment-form-comment">
                    <label id="labalFullNameComment" for="comment">دیدگاه</label>
                    <textarea id="textComment" name="text" rows="5"></textarea>
                    <span class="text-danger" id="textCommentValid"></span>
                </p>

                <div class="row row-20">
                    <div class="col-lg-6">
                        <label for="name">نام کامل: *</label>
                        <input name="fullName" id="fullNameComment" type="text">
                        <span class="text-danger" id="fullNameCommentValid"></span>
                    </div>
                    <div class="col-lg-6">
                        <label for="comment">ایمیل: </label>
                        <input name="email" id="emailComment" type="text">
                        <span class="text-danger" id="emailCommentValid"></span>
                    </div>
                </div>


            </form>
            <p class="comment-form-submit">
                <button type="button" class="btn btn-lg btn-color btn-button"
                        onclick="submitComment()">
                    ارسال دیدگاه
                </button>
            </p>

        </div>
        <div class="title-wrap title-wrap--line">
            <h3 class="section-title" id="h3CommentCount"></h3>
        </div>
        <ul class="comment-list" id="CommentParentList">
        </ul>
        <div class="col-12 text-center" id="getMoreCommentDiv">
        </div>
    </div> <!-- end post content -->
</div>
@section Scripts{
    <script>
        $(function () {
            GetComments("@Model.Id", "@CommentFor.صفحه.ToString()", 1);
        });
    </script>
    @if (SuccessCreateComment)
    {
        <script>
            AlertSweetTimer("نظر شما با موفقیت اضافه شد و به زودی نمایش داده میشود .", "success", 3000);
        </script>
    }
    @if (FaildCreateComment)
    {
        <script>
            AlertSweetTimer("عملیات نا موفق !! لطفا اطلاعات را با دقت وارد کنید  .", "error", 3000);
        </script>
    }
}