@model Query.Contract.Admin.Email.EmailUserAdminPaging
@using Shared.Domain.Enum;
@{
    ViewData["Title"] = "لیست ایمیل های خبرنامه";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <div class="col-12">
                    <form>
                    <div class="col-6">
                        <div class="form-group">
                            <label>جست و جو بر اساس عنوان</label>
                            <input type="text" class="form-control" name="filter" value="@Model.Filter">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>تعداد نمایش در هر صفحه</label>
                            <input type="number" id="chooseImage" class="form-control" name="take" value="@Model.Take">
                        </div>
                        </div>
                        <div class="col-4">
                            <label></label>
                            <button type="submit" class="btn btn-info">
                                جست و جو
                            </button>
                        </div>
                    </form>
                </div>
                <hr />
                <a class="btn btn-success" asp-action="CreateImage">
                    <i class=" fa fa-plus mx-2"></i> عکس جدید
                </a>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th> ایمیل</th>
                            <th> کاربر</th>
                            <th>تاریخ ثبت</th>
                            <th> فعال</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(Model.Emails.Count() > 0)
                        {
                            foreach(var item in Model.Emails)
                            {
                                <tr id="Deleted_@item.Id">
                                    <td>
                                        @item.Email
                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.CreationDate
                                    </td>
                                    <td>
                                        @{
                                            string title = item.Active ? "غیر فعال شود ؟؟؟" : "فعال شود ؟؟؟";
                                            string text = item.Active ? "بعد از غیر فعال شدن - ایمیل های خبرنامه برای این ایمیل ارسال نمیشود ." :
                                            "بعد از فعال شدن - ایمیل های خبرنامه برای این ایمیل ارسال میشود";
                                            string cancel = item.Active ? "فعال بماند" : "غیر فعال بماند";
                                            string confirm = item.Active ? "غیر فعال شود" : "فعال شود";
                                        }
                                        <div class="checkbox-wrapper-49"
                                             onclick="AjaxSweetNotDelete(
                                 '@title',
                                 '@text',
                                 'question',
                                 '@confirm',
                                  '@cancel',
                                   '/Admin/EmailUser/Active/@item.Id')">
                                            <div class="block">
                                                <input data-index="pie_@item.Id" id="pie-@item.Id"
                                                @(item.Active ? "checked" : "") type="checkbox" />
                                                <label for="pie-@item.Id"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>

                </table>
                <div class="col-12 text-center">
                    @if (Model.PageCount > 1)
                    {
                        <ul class="pagination pagination-sm no-margin pull-right">
                            @if (Model.PageId > 1)
                            {
                                <li><a href="/Admin/Site/Images?pageid=@(Model.PageId - 1)&take=@Model.Take&filter=@Model.Filter">«</a></li>
                            }
                            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                            {
                                if (i == Model.PageId)
                                {
                                    <li class="bg-info"><a>@i</a></li>
                                }
                                else
                                {
                                    <li><a href="/Admin/Site/Images?pageid=@i&take=@Model.Take&filter=@Model.Filter">@i</a></li>
                                }
                            }
                            @if (Model.PageId < Model.PageCount)
                            {
                                <li><a href="/Admin/Site/Images?pageid=@(Model.PageId + 1)&take=@Model.Take&filter=@Model.Filter">»</a></li>
                            }
                            @if (Model.PageCount > Model.EndPage)
                            {
                                <li><a href="/Admin/Site/Images?pageid=@Model.PageCount&take=@Model.Take&filter=@Model.Filter">@Model.PageCount</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
}