@model Query.Contract.Admin.Wallet.UserWalletForAdminPaging
@using Query.Contract.Admin.Wallet;

@{
    ViewData["Title"] = "کیف پول کاربر";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">جست و جو</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body" style="display:none">
                <form id="formSearchAdmin">
                    <input type="hidden" id="inputPageId" name="pageId" value="1" />
                    <div class="col-6">
                        <div class="form-group">
                            <label>توضیح</label>
                            <select class="form-control" name="why">
                                <option value="@WalletWhySerch.همه" selected="@(Model.WalletWhy == WalletWhySerch.همه ? "selected" : false)">
                                    همه
                                </option>
                                <option value="@WalletWhySerch.توسط_ادمین" selected="@(Model.WalletWhy == WalletWhySerch.توسط_ادمین ? "selected" : false)">
                                    توسط ادمین
                                </option>
                                <option value="@WalletWhySerch.پرداخت_از_درگاه" selected="@(Model.WalletWhy == WalletWhySerch.پرداخت_از_درگاه ? "selected" : false)">
                                    پرداخت از درگاه
                                </option>
                                <option value="@WalletWhySerch.خرید_از_سایت" selected="@(Model.WalletWhy == WalletWhySerch.خرید_از_سایت ? "selected" : false)">
                                    خرید از سایت
                                </option>
                                <option value="@WalletWhySerch.بازگشت_فاکتور" selected="@(Model.WalletWhy == WalletWhySerch.بازگشت_فاکتور ? "selected" : false)">
                                    بازگشت فاکتور
                                </option>
                                <option value="@WalletWhySerch.کارت_هدیه" selected="@(Model.WalletWhy == WalletWhySerch.کارت_هدیه ? "selected" : false)">
                                    کارت هدیه
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>نوع </label>
                            <select class="form-control" name="type">
                                <option value="@WalletTypeSearch.همه" selected="@(Model.Type == WalletTypeSearch.همه ? "selected" : false)">
                                    همه
                                </option>
                                <option value="@WalletTypeSearch.برداشت" selected="@(Model.Type == WalletTypeSearch.برداشت ? "selected" : false)">
                                    برداشت
                                </option>
                                <option value="@WalletTypeSearch.واریز" selected="@(Model.Type == WalletTypeSearch.واریز ? "selected" : false)">
                                    واریز
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>سفارشی سازی ترتیب</label>
                            <select class="form-control" name="orderBy">
                                <option value="@OrderingWalletSearch.بر_اساس_تاریخ_از_آخر" selected="@(Model.OrderBy == OrderingWalletSearch.بر_اساس_تاریخ_از_آخر ? "selected" : false)">
                                    بر اساس تاریخ از آخر
                                </option>
                                <option value="@OrderingWalletSearch.بر_اساس_تاریخ_از_اول" selected="@(Model.OrderBy == OrderingWalletSearch.بر_اساس_تاریخ_از_اول ? "selected" : false)">
                                    بر اساس تاریخ از اول
                                </option>
                                <option value="@OrderingWalletSearch.بر_اساس_مبلغ_از_بالا_به_پایین" selected="@(Model.OrderBy == OrderingWalletSearch.بر_اساس_مبلغ_از_بالا_به_پایین ? "selected" : false)">
                                    بر اساس مبلغ از بالا به پایین
                                </option>
                                <option value="@OrderingWalletSearch.بر_اساس_مبلغ_از_بالا_به_پایین" selected="@(Model.OrderBy == OrderingWalletSearch.بر_اساس_مبلغ_از_پایین_به_بالا ? "selected" : false)">
                                    بر اساس مبلغ از پایین به بالا
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>تعداد نمایش در هر صفحه</label>
                            <input type="number" id="chooseImage" class="form-control" name="take" value="@Model.Take">
                        </div>
                    </div>
                    <div class="col-4">
                        <label></label>
                        <button type="submit" class="btn btn-info">
                            جست و جو
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div class="box">
            <div class="box-header">
                <div class="col-12">
                    @Model.WalletAmount.ToString("#,0") تومان
                </div>
                <hr />
                <a class="btn btn-success" 
                onclick="AjaxAdminGet('/Admin/Wallet/Create/@Model.UserId','شارژ کیف پول برای کاربر @Model.UserName')">
                    <i class=" fa fa-plus mx-2"></i> شارژ کیف پول @Model.UserName
                </a>
                
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th> - </th>
                            <th> تومان</th>
                            <th> نوع </th>
                            <th> موفق </th>
                            <th> توضیحات </th>
                            <th>تاریخ ثبت</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Wallets.Count() > 0)
                        {
                            foreach (var item in Model.Wallets)
                            {
                                <tr id="Deleted_@item.Id">
                                    <td>
                                        @item.WalletWhy.ToString().Replace("_"," ")
                                    </td>
                                    <td>
                                        @item.Price.ToString("#,0")
                                    </td>
                                    <td>
                                        @if(item.Type == Shared.Domain.Enum.WalletType.واریز)
                                        {
                                            <span class="text-success">واریز</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">برداشت</span>
                                        }
                                    </td>
                                    <td>
                                        @if (item.IsPay)
                                        {
                                            <span class="text-success">موفق</span>
                                        }
                                        else
                                        {
                                            <span class="text-danger">نا موفق</span>
                                        }
                                    </td>
                                    <td>@item.Description</td>
                                    <td>
                                        @item.CreationDate
                                    </td>
                                   
                                </tr>
                            }
                        }
                    </tbody>

                </table>
                <div class="col-12 text-center">
                    @if (Model.PageCount > 1)
                    {
                        <ul class="pagination pagination-sm no-margin pull-right">
                            @if (Model.PageId > 1)
                            {
                                <li><a style="cursor:pointer" onclick="ChangePagination('@(Model.PageId - 1)')">«</a></li>
                            }
                            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                            {
                                if (i == Model.PageId)
                                {
                                    <li class="bg-info"><a>@i</a></li>
                                }
                                else
                                {
                                    <li><a onclick="ChangePagination('@i')">@i</a></li>
                                }
                            }
                            @if (Model.PageId < Model.PageCount)
                            {
                                <li><a onclick="ChangePagination('@(Model.PageId + 1)')">»</a></li>
                            }
                            @if (Model.PageCount > Model.EndPage)
                            {
                                <li><a onclick="ChangePagination('@Model.PageCount')">@Model.PageCount</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
        </div>
    </div>
</div>