@model Query.Contract.UI.PostPackage.PackageUiPageQueryModel
@{
    ViewData["Title"] = Model.Seo.MetaTitle;
}
 <main class="search-page default">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                       <partial name="_BreadCrumb" model="@Model.BreadCrumbs" />
                    <h3 class="text-center my-2">
                        @Model.Title
                    </h3>
                <div class="p-2 mb-3 text-center">
                    @Html.Raw(Model.Description)
                    </div>
                   
                        <div class="listing default">
                            <div class="tab-content default text-center">
                                <div class="tab-pane active" id="related" role="tabpanel" aria-expanded="true">
                                    <div class="container no-padding-right">
                                @if(Model.Packages.Count() > 0)
                                {
                                    <ul class="row listing-items">
                                        @foreach (var item in Model.Packages)
                                        {
                                            <li class="col-lg-4 col-md-6 col-12 no-padding">
                                                <div class="product-box">
                                                    <div class="product-box-content-row mb-3">
                                                        <div class="product-box-title">
                                                            <h3>
                                                                @item.Title
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <a class="product-box-img">
                                                        <img src="@item.ImageName" alt="@item.ImageAlt">
                                                    </a>
                                                    <div class="product-box-content">
                                                       
                                                        <div class="product-box-row product-box-row-price">
                                                            <div class="price">
                                                                <div class="price-value">
                                                                    <div class="price-value-wrapper">
                                                                       @item.Price.ToString("#,0") 
                                                                       <span class="price-currency">تومان</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <span>قیمت : </span>
                                                        </div>
                                                        <p>
                                                            @item.Description
                                                        </p>
                                                        <div class="parent-btn">
                                                            <a href="#" class="dk-btn dk-btn-info">
                                                                 خرید
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        }

                                    </ul>
                                }
                                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
